<!-- Show @article -->

<div class="container">
  <div class="article-content">

    <!-- Passar essa inteligência para Controller#Show -->
    <% object = OpenGraphReader.fetch("#{@article.url}") %>
    <div class="article-title">
      <div class="article-title-content">
        <%= object.og.title %>
      </div>
      <div class="article-title-description">
        <p><%= object.og.description %></p>
      </div>
    </div>

    <div class="article-img">
      <div class="article-img-content"><%= image_tag "#{object.og.image.url}" %></div>
    </div>

    <div class="article-comment">
      <div class="artile-comment-content">
        <h3>comment of <%= @article.user.username %>:</h3>
        <p><%= @article.comment %></p>
      </div>
    </div>

    <div class="article-body">
      <div class="article-body-content">
        <% url = @article.url %>
        <% html_file = open(url).read %>
        <% html_doc = Nokogiri::HTML(html_file) %>
        <%= html_doc.search('.article__content').text %>
      </div>
    </div>


    <div class="article-details col-sm-3 col-md-6 col-lg-12">

      <div class="article-user-id">
        <p>Publisher</p>
        <a href="<%= user_path(@article.user) %>">
          <h3><%= @article.user.username %></h3>
        </a>
      </div>

      <div class="article-like-content">
        <%= link_to 'like', likes_path(@article) %>
        <%= @article.likers_count %>
      </div>

      <div class="article-button-content">
        <% if current_user == @article.user %>
          <%= link_to 'Edit'.html_safe, edit_article_path, class: "btn btn-default" %>
          <%= link_to 'Trash'.html_safe, article_path(@article), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>

    <div class="article-options">

      <div class="article-url">
        <p>url:</p>
        <%= link_to "Read on main source", @article.url, target: :_blank %>
      </div>

    </div>
    <div class="reviews-show">
      <div class="reviews-show-form">
        <%= render 'reviews/form_reviews', article: @article, review: @review %>
      </div>
      <div class="reviews-show-reviews" id="reviews">
        <% @article.reviews.reverse.each do |review|  %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
