<!-- Inside the 'each' iterator of articles/index.html.erb -->

<a class="card-link" href="<%= article_path(article)%>">

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="articles-card">
      <div class="articles-card-body">

        <div class="article-card-url">
          <h6 class="article-user">Publisher: <%= article.user.username %></h6>

          <!-- Passar essa lógica para Articles Controller -->

          <div><% object = OpenGraphReader.fetch("#{article.url}") %></div>
          <div class="article-title"><%= object.og.title %></div>
          <div class="article-img"><%= image_tag "#{object.og.image.url}" %></div>
          <div class="article-description"><%= object.og.description %></div>
          <div class="article-site-name"><%= object.og.site_name %></div>
        </div>
      </div>

      <div class="card-footer">
        <h6 class="article-card-comment">His thoughts: <%= article.comment %></h6>
      </div>
    </div>
  </div>

</a>
