
  <% object = OpenGraphReader.fetch("#{article.url}") %>
  <a class="card-link styled-tooltip" href="<%= article_path(article)%>" data-toggle="tooltip" data-placement="top" title="<%= object.og.description %>">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="home-articles-card">
        <div class="home-articles-card-body">
          <div class="home-article-card-url">
            <div class="home-article-title"><%= object.og.title %></div>
            <div class="home-article-img"><%= image_tag "#{object.og.image.url}" %></div>
            <div class="home-article-site-name"><%= object.og.site_name %></div>
            <div class="home-likes">Likes: <%= article.likers_count %></div>
          </div>
        </div>
      </div>
    </div>
  </a>
